body {
    background: #777;
}

.container {
    display: flex;
    flex-direction: row;;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.elemento {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #1c1d1d;
    margin-top: 20px;
    color: white;
}

.elemento:hover {
    /* background-color: #3431cc; */
    transform: scale(1.1);
    opacity: 0.8;
}

