.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    padding: 15px;
}

.descricao {
    color:rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}